:root{
    --border-bottom:  #ac7d8870 2px solid;

}

h1{
    font-size:30px;

}
body{
    background-color: #ac7d8835;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-size: 18px;

}

/* Header Section */
header {
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width: 200px;
    height: 660px;
    position: fixed;
    top: 0 ;
    left: 0 ;
    background-color: #AC7D88;
  }


  .sidebar-avatar{
    width: 80%;
   margin: 10% 10% 50px;
   border-radius: 20%;
   box-shadow:5px 5px 5px #2b2a2a ;
  }
  .sidebar-header{
    text-align: center;
    font-size: 15px;

  }
  .sidebar-name{
      margin-bottom:30px ;
      font-family: 'Tangerine', cursive;
      font-size: 35px;
      font-weight: 900;

  }

  .sidebar-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    margin-top: 50px;
   }

   .list-menu li{
   margin-bottom: 30px;
   text-align: center;

   }
   .list-menu a{
    text-decoration: none;
    color: rgb(23, 23, 23);
    font-size: 18px;
   }

   .sidebar-contact{
    text-align: center;
    margin-top: 10px;
   }

   .sidebar-contact a {
    font-size: 15px;
    background-color: #85586F;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 70px;
    margin: 3px 3px 3px 3px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 8px 6px -6px black;
  }
 .sidebar a:hover, a:active {
    background-color: #85586F;
   }
   .sidebar .button{
       margin: 30px;
   }


   /* Home Section */

  .home-background {
    height: 500px;
    width: 100%;
    background-image: url(../assets/images/PortfolioBgPic.jpeg);
    background-size: cover;
    background-position: center;

  }
  .layer {
    background-color: rgba(9, 9, 1, 0.607);
    position: relative;
    text-align:center;
    left:13%;
    width: 90%;
    height: 100%;

}

.layer h1{
    padding:200px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 100px;
}

 .home-content{
    font-size: 18px;
    line-height: 5px;
    color:white;
 }


/* Main Section */
  main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 80px auto 280px;
    max-height:none;

  }


/* Home Section */
.home-section{

    width: 100%;
    height: 100%;
}

/* About Secton */
.about-section{
    margin-bottom: 70px;
    border-bottom: var(--border-bottom);
}

.about-item{
    padding: 30px 0 40px ;
}

/* Skills Section */
.skills-section{
    margin-bottom: 70px;
    border-bottom: var(--border-bottom);
}

.skills-flex-area {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.skills-flex-area .card {
    background-color: #85586F;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin-top: 30px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.skills-flex-area .card p {
line-height: 15px;
font-size: 15px ;
}

.skills-section p{
    padding-top:30px;
}
.skills-flex-area i{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Projects Section */
.project-flex-area {

    border-bottom: var(--border-bottom);
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-flex-area .card {
    background:transparent;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 70px;
}

.project-section p{
    padding-top:30px;
}


/* Contact */
.contact-section{
    display: flex;
    display: block;
    border-bottom:var(--border-bottom) ;
    width:100%;
    margin-bottom: 70px;
    margin-top:40px;
}

.contact-form .row {
	margin-bottom: 15px;
	min-height: 5px;
    display: wrap;
}

form {
    text-align: center;
    margin: 0 100px 50px 150px;


  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .contact-form input,
  .contact-form textarea {
    background-color: #7b506678;
    border: 0;
    outline: 0;
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 0.8em;
    font-weight: 300;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.1);
    resize: none;
  }

  .contact-form textarea {
    margin-bottom: 1em;
    height: 125px;
  }

  .contact-form input:focus {
    box-shadow: 0 0px 2px #85586F !important;
  }

  .contact-form textarea:focus {
    box-shadow: 0 0px 2px #85586F !important;
  }

  #submit {

    color: #36454f;
    background-color: #bfbfbf;
    cursor: pointer;
    font-weight: 400;
  }

  #submit:hover {
    background-color: rgba(3, 201, 169, 0.6);
  }

/* Footer Section */
.footer-section {
    margin-top: -55;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .footer-section i{
    padding: 0 30px 30px;

  }

  @media screen and (max-width: 900px) {
    header {
list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 15%;
  background-color: #85586F;
  display: inline-block;
  position: fixed;
  top: 0 ;
  width: 100%;
  overflow: auto;
height: 10%;
    }

.sidebar{
display: inline-block;
display: flex;
flex-wrap: wrap;
flex-flow: row wrap;

}

.sidebar-avatar{
    display:none;
}
.sidebar-contact{
    /* text-align: center; */
    display: inline-block;
    margin-top: 10px;
    align-items: center;
   }


   .home-background{
    margin-top: 30px;
       height:200px ;
       z-index: -30;
   }

main{
    margin: 50px 80px auto 50px;
    padding-left: 10%;
}

form{
    margin-left: 10%;
}

}
